*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    background-color: blue;
}
h1{
    color: black;
    font-size: 40px;
}
div{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .img_box{
        width: 70px;
        height: 70px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
}
.button_box{
    width: 1650px;
    height: 300px;
    display: flex;
    justify-content: center;
    .btn{
        width:400px;
        height: 100px;
        transition: 2s ease-in-out all;
        cursor: pointer;
        &:hover span {
            display: block;
        }
        span{
            font-size: 20px;
            display: none;
        }
    }
    #btn1{
        background-color: red;
    }
    #btn2{
        background-color: yellow;
    }
    #btn3{
        background-color: green;
    }
    #btn4{
        background-color: orange;
    }
    #btn5{
        background-color: white;
    }
    #btn6{
        background-color: violet;
    }
}