*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: blue;
}
h1{
    color: black;
    font-size: 40px;
}
div{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .img_box{
        width: 70px;
        height: 70px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
}